
/**
 * @file
 * Use this CSS file to override components CSS rules
 */
.header-container ul.menu li a {
    font-size: 14px;
    font-weight: bold;
}
.social-links a .fa::before {
    letter-spacing: 0;
    font-size: 42px;
}
.social-links li a .fa span {
    display: none;
}
.social-links.social-links--inline li {
    margin: 0 10px;
}
#block-mtdropdown .fa::before {
    font-size: 18px;
    line-height: 0;

}
.field--name-node-post-date .field__label {
    text-transform: uppercase;
    font-weight: normal;
}
blockquote {
    font-size: 19px;
}
.wp-block-pullquote p {
    font-size: 1.1em;
}
